<div class="m-header" id="header">
    <div class="g-doc">
      <a class="u-logo" href="/">智能与感知中心－开放平台</a>
      <ul class="nav">
        {#list menus as menu}
          <li class="?">
            {#if menu.sub}
            <a>{menu.name}</a>
            <ul class="subnav f-tac">
                {#list menu.sub as sub}
                    <li><a href="{sub.url}">{sub.title}</a></li>
                {/list}
            </ul>
            {#else}
            <a href="#{menu.url}">{menu.name}</a>
            {/if}
          </li>
        {/list}
      </ul>
    </div>
</div>
