
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>开放平台－智能与感知中心</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- @IGNORE -->
    <base href="/src/views/index.html">
    <!-- /@IGNORE -->
    <!-- @MERGE -->
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <!-- /@MERGE -->
</head>
<body>
    <div id="module-box"></div>


<!-- @VERSION -->
<script>
    location.config = {root:'../html/'};
</script>

<!-- @NOPARSE -->
<script src="../../res/lib/regular.min.js"></script>
<script src="../../res/lib/regular-ui.customized.min.js"></script>
<script src="../../res/lib/regular-ui-2.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75446410-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- /@NOPARSE -->

<script src="../javascript/lib/tech.data.js"></script>

<script src="../../res/lib/nej/src/define.js?pro=../javascript/"></script>
<script src="../javascript/page/dashboard.js"></script>


</body>
</html>
